<div class="container" align="center">

  <h2><%= resource_name.to_s.humanize %>'s settings</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control" %>
    </div>
    <br>

    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar,class:"form-control"%>
    </div>
    <br>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name ,class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name ,class:"form-control" %>
    </div>
    <%= fields_for :address, resource.address do |c| %>
      <%= c.hidden_field :id %>
      <div class="container card mt-2 mb-2 ">
        <legend>Address</legend>
        <div class="field">
          <%= c.label :street %><br />
          <%= c.text_field :street ,class:"form-control" %>
        </div>
        <div class="field">
          <%= c.label :city %><br />
          <%= c.text_field :city ,class:"form-control" %>
        </div>
        <div class="field">
          <%= c.label :state %><br />
          <%= c.text_field :state ,class:"form-control" %>
        </div>
        <div class="field m-2">
          <%= c.label :zip %><br />
          <%= c.text_field :zip ,class:"form-control" %>
        </div>
        <div class="field m-2">
          <%= c.label :country %><br />
          <%= c.text_field :country ,class:"form-control mb-2" %>
        </div>
      </div>
      <br>
    <% end %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="field m-2">
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "new-password",class:"form-control"  %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="field m-2">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control"  %>
    </div>
    <div class="field m-2">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control"  %>
    </div>
    <div class="actions">
      <%= f.submit "Update",class:"btn btn-success form-control" %>
    </div>
  <% end %>
  <br>
  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class:"btn btn-danger"%></p>
  <%= link_to "Back", :back,class:"btn btn-secondary mb-2" %>
</div>
