<div align="center" id="<%= dom_id article %>">

  <h2>
    <%= article.title %>
  </h2>
  <strong>Posted by: <span><%= (article.user.first_name).capitalize %></span> </strong>
  <h6> <%= pluralize(article.views,"view") %></h6>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
