<div class="container">
    <%= render 'admin/nav_links' %>



<table class="table table-dark table-striped">
  <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Comments</th>
    </tr>
   </thead>
   <% @articles.each do |article|%>
   <tbody>
    <tr>
        <td><%= article.id %></td>
        <td><%= link_to article.title.truncate(20), admin_article_path(article) %></td>
        <td><%= article.user.name.capitalize %></td>
        <td><%= pluralize(article.comments.size, "Comment") %></td>
    </tr>
   </tbody>
   <%end%>
</table>
</div>
